
// prefixes
@webkit:  true;
@moz:     true;
@ms:      true;



@import "_mixins.less";

* {
  .box-sizing(border-box);
}


@import "../components/normalize-less/normalize.less";
@import "offscreen-nav.less";

