
// prefixes
@webkit:  true;
@moz:     true;
@ms:      false;



@menu-slide-left: -100%;
// @menu-slide-left: 100%;

@import "_mixins.less";

* {
  .box-sizing(border-box);
}


@import "../components/normalize-less/normalize.less";
@import "offscreen-nav.less";

