
//
// Variables
//

@menu-anchor:           left;   // specify which side to render the menu
@menu-width:            280px;  // width of menu


//
// Mixins
//

.slide-menu() when (@menu-anchor = left)      { .translate((@menu-width * -1),0); }
.slide-menu() when (@menu-anchor = right)     { .translate((@menu-width * 1),0); }
.slide-content() when (@menu-anchor = left)   { .translate((@menu-width * 1),0); }
.slide-content() when (@menu-anchor = right)  { .translate((@menu-width * -1),0); }


//
// Styles
//

html, body {
  width: @full-size;
  height: @full-size;
}


.container {
  position: absolute;
  width: @full-size;
  height: @full-size;
}


.push-container {
  position: relative;
  overflow: hidden;
  width: @full-size;
  height: @full-size;
}


.menu-container {
  position: fixed;
  z-index: @menu-level;
  overflow: hidden;
  overflow-y: visible;
  width: @menu-width;
  height: @full-size;
  @{menu-anchor}: 0;  // determines 'left' or 'right' alignment to .push-container

  .slide-menu();

  &.active {
    .translate(0,0);

    // TODO: add transitions to menu slide

    // TODO: fade out .scroll-content with full-screen overlay
    // & + .scroll-container {
    //   &:before,
    //   &::before {
    //     position: fixed;
    //     z-index: (@menu-level - 100);
    //     width: @full-size;
    //     height: @full-size;
    //     background: rgba(0,0,0,0.5);
    //     content: '';
    //   }
    // }
  }
}


.menu-container.active + div>.scroll-content {
  .slide-content();
}


.menu-wrapper {
  position: relative;
}


.scroll-container {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  width: @full-size;
  height: @full-size;
}


.scroll-content {
  position: relative;
  padding: @gutter;
}

