
//
// Variables
//

@menu-anchor:     left;   // specify which side to render the menu
@menu-width:      280px;  // width of menu


//
// Mixins
//

.slide-menu() when (@menu-anchor = left)      { .translate((@menu-width * -1),0); }
.slide-menu() when (@menu-anchor = right)     { .translate((@menu-width * 1),0); }
.slide-content() when (@menu-anchor = left)   { .translate((@menu-width * 1),0); }
.slide-content() when (@menu-anchor = right)  { .translate((@menu-width * -1),0); }


//
// Styles
//

html, body {
  width: @full-size;
  height: @full-size;
}


.container {
  position: absolute;
  width: @full-size;
  height: @full-size;
}


.push-container {
  position: relative;
  overflow: hidden;
  width: @full-size;
  height: @full-size;
}


.menu-container {
  position: fixed;
  z-index: @z-menu-level;
  overflow: hidden;
  overflow-y: visible;
  width: @menu-width;
  height: @full-size;
  @{menu-anchor}: 0;  // determines 'left' or 'right' alignment to .push-container
  .transitionPrefixed(transform);
  .slide-menu();

  &.active {
    .translate(0,0);

    // TODO: add transitions to menu slide
    // .transition(-webkit-transform);
    // .transition(-moz-transform);
    // .transition(-ms-transform);
    // .transition(transform);
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: @orange;
  }
}

.menu-container.active + div > .scroll-content {
  .slide-content();
}


.menu-wrapper {
  position: relative;
  height: @full-size;
}

.nav-panel {
  overflow: hidden;
  height: @full-size;
  max-height: @full-size;
  position: absolute;
  width: @full-size;
  top: 0;
  left: -100%;

  &.active {
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: @z-menu-level + 100;
    width: @full-size;
  }
}


.scroll-container {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  width: @full-size;
  height: @full-size;
}


.scroll-content {
  position: relative;
  padding: @gutter;
  .transitionPrefixed(transform);

  &:before, &::before {
    width: @full-size;
    height: @full-size;
    position: fixed;
    top: 0;
    left: 0;
    z-index: (@z-menu-level - 50);
    display: none;
  }

  .active {
    &:before, &::before {
      display: block;
    }
  }
}

