

@white:         #fff;

@orange:        rgba(255,90,0,0.2);
@red:           rgba(255,0,0,0.2);
@trans-black:   rgba(0,0,0,0.5);


[data-nav="offcanvas-nav-main"] {


  .nav-panel {
    background-color: @orange;

    &.active {
      background-color: @white;
    }
  }

  a.has-child {
    background-color: @red;
  }

  li > a {
    display: block;
    padding: 5px 10px;
  }

}


.menu-overlay {
  background-color: @trans-black;
}