


[data-nav*="offcanvas-nav"] {


  .nav-panel {
    background: @orange;

    &.active {
      background: @white;
    }
  }

  a.has-child {
    background: @red;
  }

  li > a {
    display: block;
    padding: 5px 10px;
  }

}
